body { 
    background: #ffffff; 
    color: rgb(0, 0, 0); 
    font-family: sans-serif; 
    margin: auto;
}

svg { 
    width: 100%;
    height: 70vh; 
    margin: auto;
    padding: 0;
    vertical-align: top;
    z-index: 1;
}

.map {
    z-index: 1;
}

h1 {
    width: 70%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
}

h2 {
    width: 70%;
    margin:auto;
    padding-bottom: 2%;
    text-align: center;
}

.intro {
    width: 70%;
    margin: auto;
    padding-bottom: 6%;
    text-align: center;
}

.sources {
    width: 70%;
    margin: auto;
    padding-bottom: 6%;
    padding-top: 10%;
    text-align: center;
}

.slider {
    margin: auto;
    text-align: center;
}

.tooltip {
    position: absolute;
    z-index: 99999;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
}

.restWater {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: rgba(30, 80, 255, 0.45);
    z-index: -1;
    pointer-events: none;
    padding: 0;
}
